<!-- <app-my-nav></app-my-nav>
<app-my-dashboard></app-my-dashboard> -->
<h1>Account Id:</h1>
  <div class="example-container">
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="userName">
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="search()">Search</button>
  <div *ngIf="response">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Name: {{response.name}}</mat-card-title>
        <mat-card-subtitle>Age: {{response.age}} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Phone No.: {{response.pass}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Previous</button>
        <button mat-button>Next</button>
      </mat-card-actions>
    </mat-card>
  </div>

<!-- <p-table [value]="clientes">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cliente>
 <tr>
  <td>{{cliente.name}}</td>
 </tr>
  </ng-template>
</p-table> -->


<!-- 
  <app-my-nav></app-my-nav> -->